@{
    ViewBag.PageTitle = "欢迎进入管理界面";
    Layout = "~/Views/Shared/_BackEndContent.cshtml";
}
@section rightpart{
    <div>
        <p>欢迎来到管理界面</p>
        <p>在这里，你可以通过新建，编辑，删除等操作来更改网站的数据，更改后，前台页面刷新，即可看到最新的结果。</p>
        <p>虽然网站数据有定期备份，但是还是建议你在操作的时候谨慎一些，尽量不要误操作。</p>
        <p>每个编辑页面都有对应的图文提示，会比较直观地告诉你，在这个项目下的更改，会影响到到网站页面显示的哪些部分，请仔细阅读这些内容。</p>
        <p>如何更改，都会有详细的提示信息供你参考，请尽量遵守建议部分来操作，这会让数据在网页上合理地显示出来。</p>
        <p>如果有什么疑问或者发现有任何bug，请与网站制作者联系解决。</p>
    </div>
}

