@model MvcCDISCS.Models.admin
@{
    ViewBag.PageTitle = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section cssmore{
    <link href="~/Content/login.css" rel="stylesheet" type="text/css" />

}
<div id="loginarea">
    @using (Html.BeginForm())
    {
        @Html.TextBoxFor(o=>o.UserName,new{placeholder="用户名"})<br/>
        @Html.PasswordFor(o => o.Password, new { placeholder = "密码" })<br/>
        <input type="submit" value="登录" class="btnsubmit"/><br/>
        @Html.ValidationSummary(true)
    }
</div>
