@{
    //ViewBag.PageTitle = "Content";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section cssmore{
    <link href="~/Content/content.css" rel="stylesheet" type="text/css" />
    @RenderSection("cssmore2",required:false)
}
<!--leftpart menu-->
<div id="leftpart">
    @RenderSection("leftpart")
</div>

<!--right part content-->
<div id="rightpart">
    @RenderSection("rightpart")
</div>


