/*shared by the frontend and the backend*/

/*左边的菜单导航栏*/
#leftpart {
    float: left;
    width: 238px;
}

    #leftpart .partmenu {
        margin-bottom: 8px;
    }

        #leftpart .partmenu h3 {
            text-align: center;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom: none;
        }

        #leftpart .partmenu ul {
            background-color: white;
            border: 2px solid #e4e4e4;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }

            #leftpart .partmenu ul li a {
                display: block;
                padding: 5px 8px;
                text-align: center;
            }

                #leftpart .partmenu ul li a:hover {
                    background: orange;
                    color: black;
                    /*border-left: 6px solid #000;
                border-right: 6px solid #000;*/
                }


/*右边的内容部分*/
#rightpart {
    float: right;
    width: 850px;
    min-height: 250px;
}

    /*rightpartheader*/
    #rightpart #rightpartheader {
    }

    /*rightpartcontent*/
    #rightpart #rightpartcontent {
        margin-top: 5px;
        padding: 10px;
        background-color: white;
        list-style: round;
    }
    /*give small photo on the content page the same background*/
    #rightpart .smallphotobg {
        background-color: lightblue;
    }

/*帮助提示*/
.helptip {
    padding: 10px;
    font-size: 0.8em;
    color: #333;
    background-color: #FEFECC;
}

    .helptip p.light {
        padding-left: 20px;
        background: url('../Images/icon/idea-16px.png') center left no-repeat;
    }
