#leftpart {
    float: left;
    width: 238px;
}

    #leftpart .partmenu {
        border: 2px solid #e4e4e4;
        border-radius: 5px;
        background: white;
    }

        #leftpart .partmenu h3 {
            padding: 10px 0;
            text-align: center;
            font-size: 1.2em;
            /*background-color: #0767B2;*/
            border-bottom:1px solid #999;
        }

        #leftpart .partmenu ul li a {
            display: block;
            padding: 10px;
            text-align: center;
        }

            #leftpart .partmenu ul li a:hover {
                background: orange;
            }



#rightpart {
    float: right;
    width: 830px;
    border: 2px solid #e4e4e4;
    border-radius:5px;
    /*background-color: lightblue;*/
    padding: 10px;
    min-height:450px;
}

    #rightpart h2 {
        font-size: 1.2em;
        padding: 10px 0;
        color: blue;
    }

    #rightpart div {
    }
