/*左边的菜单导航栏*/
#leftpart {
    float: left;
    width: 238px;
}

    #leftpart .partmenu {
        border: 2px solid #e4e4e4;
        background-color: #efefef;
        border-radius: 5px;
        margin-bottom: 20px;
    }

        #leftpart .partmenu h3 {
            padding: 10px 0;
            text-align: center;
            font-size: 1.2em;
            /*background-color: #0767B2;*/
            border-bottom: 1px solid #999;
        }

        #leftpart .partmenu ul li a {
            display: block;
            padding: 10px;
            text-align: center;
        }

            #leftpart .partmenu ul li a:hover {
                background: orange;
            }


/*右边的内容部分*/
#rightpart {
    float: right;
    width: 830px;
    border: 2px solid #e4e4e4;
    border-radius: 5px;
    /*background-color: lightblue;*/
    padding: 10px;
    min-height: 450px;
    /*background: white;*/
    background-color: #efefef;
}

    #rightpart h2 {
        font-size: 1.2em;
        padding: 10px 0;
        color: blue;
    }

div#topcontent {
    border: 1px solid #999;
    border-radius: 5px;
    padding: 10px 5px;
    overflow: hidden;
}

    div#topcontent img#titleimg {
        width: 300px;
        height: 200px;
        padding: 5px;
        background-color: white;
        float: left;
    }

    div#topcontent p {
        margin-left: 320px;
    }

/*Category*/
div#productlist {
    margin-top: 5px;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 6px;
    overflow: hidden;
}

    div#productlist a {
        display: block;
        float: left;
        margin: 0 13px 10px 0;
        padding: 5px;
        background-color: white;
    }

        div#productlist a:hover {
            background-color: lightblue;
        }

        div#productlist a img {
            display: block;
            width: 180px;
            height: 130px;
        }

        div#productlist a p {
            text-align: center;
            padding: 5px 0;
            background-color: #999;
        }




/*Contact*/
#contactcontent {
    list-style: none;
}
