/*front end unique style*/
/*Category Top*/
#rightpartcontent #searcharea {
    background-color: white;
    margin-bottom: 20px;
    padding: 10px;
}

    #rightpartcontent #searcharea input {
        font-size: 1em;
    }

        #rightpartcontent #searcharea input[type="text"] {
            width: 400px;
            margin-right: 20px;
            color: #999;
        }

        #rightpartcontent #searcharea input[type="submit"] {
            padding: 5px 20px;
        }

#rightpartcontent #topcontent {
    overflow: hidden;
    border-bottom: 1px solid #999;
    padding-bottom: 10px;
}

    #rightpartcontent #topcontent img#titleimg {
        width: 200px;
        height: 150px;
        padding: 5px;
        float: left;
    }

div#rightpartcontent div#topcontent p {
    margin-left: 220px;
}

/*Category Product List*/
div#rightpartcontent div#productlist {
    padding-top: 10px;
    overflow: hidden;
}

#rightpartcontent div#productlist a {
    display: block;
    float: left;
    margin: 0 15px 10px 0;
    padding: 5px;
}

#rightpartcontent #productlist a:hover {
    background-color: #88B7C7;
}

#rightpartcontent #productlist a img {
    display: block;
    width: 240px;
    height: 160px;
}

#rightpartcontent #productlist a p {
    text-align: center;
    padding: 5px 0;
    background-color: #999;
    font-size: 0.8em;
}




/*Contact*/
#rightpartcontent #contactcontent {
    /*none the list style*/
    list-style: none;
}

/*map part on contact page*/
#rightpartcontent #contactmapcontent {
    margin-top: 30px;
    /*border: 1px solid #999;
    padding: 10px 5px;*/
}

/*Product*/
#rightpartcontent .publishday {
    color: orange;
}

#rightpartcontent #productdetailscontent {
    padding: 10px 0;
    border-top: 1px solid #999;
}

/*Service*/
#rightpartcontent .serviceitem {
    border: 1px solid #999;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    overflow: hidden;
}

    #rightpartcontent .serviceitem .serviceitemheader {
        padding: 5px 0;
        font-size: 1.2em;
        border-bottom: 1px solid #e4e4e4;
    }

    #rightpartcontent .serviceitem .serviceitemphoto {
        margin: 10px 0;
        padding: 5px;
        float: left;
        width: 220px;
        height: 200px;
    }

    #rightpartcontent .serviceitem .serviceitemcontent {
        padding: 10px 0;
        margin-left: 240px;
    }

/*Feedback*/
#rightpartcontent #feedbacktip {
    margin-bottom: 20px;
}

/*SearchPage*/
#productsearchlist li {
    padding: 5px 0;
}

#productsearchlist ul li a span {
    color: blue;
}



/*career*/
#rightpartcontent .details-table {
    width: 100%;
}

    #rightpartcontent .details-table .tdhead {
        width: 100px;
        vertical-align: top;
        color:#0767B2;
        text-align:center;
    }

    #rightpartcontent .details-table td {
        border: 1px solid #e4e4e4;
        padding:5px;
    }
