/*front end unique style*/
/*Category Top*/
div#topcontent {
    padding: 5px;
    overflow: hidden;
    border-bottom:1px solid #999;
}

    div#topcontent img#titleimg {
        width: 250px;
        height: 160px;
        padding: 5px;
        background-color: white;
        float: left;
    }

    div#topcontent p {
        margin-left: 270px;
    }

/*Category Product List*/
div#productlist {
    padding: 5px;
    overflow: hidden;
}

    div#productlist a {
        display: block;
        float: left;
        margin: 0 13px 10px 0;
        padding: 5px;
        background-color: white;
    }

        div#productlist a:hover {
            background-color: lightblue;
        }

        div#productlist a img {
            display: block;
            width: 180px;
            height: 130px;
        }

        div#productlist a p {
            text-align: center;
            padding: 5px 0;
            background-color: #999;
        }




/*Contact*/
#contactcontent {
    list-style: none;
}

/*map part on contact page*/
#contactmapcontent {
    margin-top: 30px;
    border: 1px solid #999;
    padding: 10px 5px;
}

/*Product*/
#productdetailscontent {
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid #999;
}

/*Service*/
#servicecontent .serviceitem {
    border: 1px solid #999;
    padding: 10px;
    margin-top: 10px;
    overflow:hidden;
}

    #servicecontent .serviceitem h5 {
        padding: 5px 0;
        font-size: 1.2em;
        border-bottom: 1px solid #999;
    }

    #servicecontent .serviceitem img.servicephoto {
        margin: 10px 0;
        padding: 5px;
        background: white;
        float:left;
    }

    #servicecontent .serviceitem p.servicep {
        padding: 10px 0;
        margin-left:220px;
    }
