/*
    全局处理
*/
/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, div,
blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td, /* table elements 表格元素 */
img /* img elements 图片元素 */ {
    border: none;
    margin: 0;
    padding: 0;
}
/** 设置默认字体 **/
body, button, input, select, textarea {
    font-family: "黑体","宋体",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

em {
    font-style: normal;
}
/** 重置列表元素 **/
ul, ol {
    list-style: none;
}
/** 重置超链接元素 **/
a {
    text-decoration: none;
    color: #333;
}

    a:hover {
        color: #F40;
    }
/** 重置图片元素 **/
img {
    /*图片必须设置为block，否则会有一个默认边距*/
    display: block;
}
/** 重置表格元素 **/
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
    设置主要部分
*/

body {
    background-color: #C6C6C6;
    /*一直显示滚动条*/
    overflow-y: scroll;
}

#header, #main, #footer {
    width: 1345px;
    /*居中于body的中央*/
    margin: 0 auto;
}


/*header部分设置*/
#header {
    background-color: #0767B2;
    /*固定header*/
    /*position:fixed;*/
}

/*center wraper*/
.wraper {
    width: 1108px;
    margin: 0 auto;
    overflow: hidden;
}

.wraperheader {
    width: 1128px;
}

#logo {
    float: left;
    display: block;
    margin: 3px 0 3px 0;
    padding: 0;
}

ul#mainnav {
    overflow: hidden;
    float: right;
}

    ul#mainnav li {
        float: left;
    }

        ul#mainnav li a {
            font-size: 1.2em;
            /*font-weight: bold;*/
            color: white;
            display: block;
            padding: 5px 15px;
            margin-top: 10px;
            height: 37px;
            line-height: 37px;
            text-align: center;
            margin-right: 10px;
        }

            ul#mainnav li a:hover {
                border-radius: 10px;
                background-color: #666;
            }

            ul#mainnav li a.selected {
                background-color: #045B9E;
            }
/*main部分设置*/
#main {
    background: url("../Images/body_bg.jpg");
}

    #main .mainbody {
        border-left: 3px solid #e4e4e4;
        border-right: 3px solid #e4e4e4;
        background-color: white;
        padding: 10px 10px 25px 10px;
        /*固定header*/
        /*margin-top:80px;*/
        overflow: hidden;
        min-height: 500px;
    }


/*全局的边框设置*/
/*general border for the box*/
.roundborder {
    border: 2px solid #e4e4e4;
    border-radius: 4px;
    background-color: #EFEFEF;
}

.rectborder {
    border: 2px solid #e4e4e4;
    background-color: #EFEFEF;
}
.titlebar {
    border: 2px solid #e4e4e4;
    background-color: #EFEFEF;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
}

    .titlebar span {
        display: block;
        float: right;
        color: orange;
    }

        .titlebar span a {
            color: blue;
        }

            .titlebar span a:hover {
                color: black;
            }




/*
    footer 部分设置
*/
#footer {
    background-color: #EFEFEF;
}

#footerlink {
    padding: 15px 0;
    background-color: #989898;
}

    #footerlink ul {
        float: left;
        overflow: hidden;
    }

        #footerlink ul li {
            float: left;
        }

            #footerlink ul li a {
                color: #333;
                display: block;
                text-align: center;
                padding: 5px;
                border-right: 1px solid #666;
            }

                #footerlink ul li a:hover {
                    color: white;
                }

    #footerlink p {
        color: #333;
        float: right;
        font-size: 0.9em;
    }

        #footerlink p select[name='friendlink'] {
            margin: 0;
            padding: 0;
            color: #333;
        }

        #footerlink p input[type='button'] {
            width: 35px;
            padding: 3px;
            color: #333;
        }

#footerbottom {
    padding: 15px 15px 25px 15px;
}

    #footerbottom ul {
        float: left;
    }

        #footerbottom ul li {
            /*font-weight: bold;*/
            font-size: 0.9em;
            color: #333;
            padding: 4px 0;
        }

    #footerbottom div.bcode {
        float: right;
    }

        #footerbottom div.bcode p {
            font-size: 0.8em;
            text-align: center;
            color: #999;
        }

        #footerbottom div.bcode img {
            height: 175px;
            width: 175px;
            margin-top: 10px;
        }
