@model MvcCDISCS.Models.product

@{
    ViewBag.PageTitle = "Delete";
    Layout = "~/Views/Shared/_BackEndContent.cshtml";
}

@section rightpart{
<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>product</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ProductName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductName)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}

}

