@model MvcCDISCS.Models.morebasicinfo

@{
    //ViewBag.PageTitle = "About";
    Layout = "~/Views/Shared/_Content.cshtml";
}
@section leftpart{
    <div class="partmenu">
        <h3>关于我们</h3>
        <ul>
            <li><a href="~/Home/About/1">公司简介</a></li>
            <li><a href="~/Home/About/2">管理机构</a></li>
            <li><a href="~/Home/About/3">公司历史</a></li>
            <li><a href="~/Home/About/4">荣誉资质</a></li>
        </ul>
    </div>
}
@section rightpart{
    <h2>@Model.ItemName</h2>
    <div>
        @Html.Raw(Model.ItemContent)
    </div>
}