@using PagedList.Mvc
@model PagedList.IPagedList<MvcCDISCS.Models.career>

@{
    ViewBag.PageTitle = "招聘信息";
    Layout = "~/Views/Shared/_FrontEndContent.cshtml";
}
@section cssmore2{
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
}
@section leftpart{
    <div class="partmenu">
        <h3 class="titlebar">关于我们</h3>
        <ul>
            <li><a href="~/Home/About/1">公司简介</a></li>
            <li><a href="~/Home/About/2">公司管理</a></li>
            <li><a href="~/Home/About/3">发展历程</a></li>
            <li><a href="~/Home/About/4">荣誉资质</a></li>
            <li><a href="~/Home/About/5">公司客户</a></li>
            <li><a href="~/Home/Career">招聘信息</a></li>
        </ul>
    </div>
    <div class="partmenu">
        <h3 class="titlebar">联系我们</h3>
        <ul>
            <li><a href="~/Home/Contact">联系方式</a></li>
            <li><a href="~/Home/Feedback">网上留言</a></li>
        </ul>
    </div>
}
@section rightpart{
    <div>
        @if (Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <p class="listp"><a href="~/Home/CareerDetails/@(item.Id)">@Html.DisplayFor(o => item.Title)</a></p>
            }
            @Html.PagedListPager(Model, page => Url.Action("Career", new { page }))
        }
        else
        {
            <p>抱歉，暂时没有招聘信息~</p>
        }
    </div>
}
