@{
    ViewBag.PageTitle = "联系我们";
    Layout = "~/Views/Shared/_FrontEndContent.cshtml";
}
@section cssmore2{
    
}
@section leftpart{
    <div class="partmenu">
        <h3 class="titlebar">联系我们</h3>
        <ul>
            <li><a href="~/Home/Feedback">网上留言</a></li>
        </ul>
    </div>
}
@section rightpart{
    <div id="contactcontent" class="htmlcontent">
        @Html.Action("GetContact", "PV", new { show = "no" })
    </div>
    <div id="contactmapcontent">
        <p>下面是我公司在地图上的具体位置:</p>
        <img src="~/Images/cdiscs/map.png" alt="helloworld" />
    </div>
}