@{
    ViewBag.PageTitle = "FeedbackSuccess";
    Layout = "~/Views/Shared/_FrontEndContent.cshtml";
}

@section leftpart{
    <div class="partmenu">
        <h3 class="titlebar">产品类别</h3>
        <ul>
            @Html.Action("GetProductCategoryMenu", "PV")
        </ul>
    </div>
    <div class="partmenu">
        <h3 class="titlebar">联系我们</h3>
        <ul>
            <li><a href="~/Home/Contact">联系方式</a></li>
        </ul>
    </div>
}

@section rightpart{
    <div class="htmlcontent">
    <p>谢谢您的留言，我们会尽快给你反馈~</p>
</div>
}