@{
    ViewBag.PageTitle = "FeedbackSuccess";
    Layout = "~/Views/Shared/_Content.cshtml";
}

@section leftpart{
    <div class="partmenu">
        <h3>产品类别</h3>
        <ul>
            @Html.Action("GetProductCategoryMenu", "PV")
        </ul>
    </div>
    <div class="partmenu">
        <h3>联系我们</h3>
        <ul>
            <li><a href="~/Home/Contact">联系方式</a></li>
        </ul>
    </div>
}

@section rightpart{
    <div>
        <p>谢谢您的留言，我们会尽快给你反馈~</p>
    </div>
}