@model MvcCDISCS.Models.product
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Content.cshtml";
}

@section leftpart{
    <div class="partmenu">
        <h3>产品类别</h3>
        <ul>
            @Html.Action("GetProductCategoryMenu", "PV")
        </ul>
    </div>
    <div class="partmenu">
        <h3>联系我们</h3>
        <ul>
            <li><a href="~/Home/Contact">联系方式</a></li>
            <li><a href="#">网上留言</a></li>
        </ul>
    </div>
}
@section rightpart{
    <h2>@Model.ProductName</h2>
    <p>发布日期:@Model.PublishTime  阅读次数:@Model.ReadCount</p>
    <div id="productdetailscontent">
        @Html.Raw(Model.Content)
    </div>
}
