@model MvcCDISCS.Models.product
@{
    ViewBag.PageTitle = Model.ProductName;
    Layout = "~/Views/Shared/_FrontEndContent.cshtml";
}

@section leftpart{
    <div class="partmenu">
        <h3 class="titlebar">产品类别</h3>
        <ul>
            @Html.Action("GetProductCategoryMenu", "PV")
        </ul>
    </div>
    <div class="partmenu">
        <h3 class="titlebar">联系我们</h3>
        <ul>
            <li><a href="~/Home/Contact">联系方式</a></li>
            <li><a href="~/Home/Feedback">网上留言</a></li>
        </ul>
    </div>
}
@section rightpart{
    <p class="publishday">发布日期:@Model.PublishTime  阅读次数:@Model.ReadCount</p>
    <div id="productdetailscontent">
        @Html.Raw(Model.Content)
    </div>
}
