@model MvcCDISCS.Models.productcategory

@{
    ViewBag.PageTitle = "Delete";
    Layout = "~/Views/Shared/_BackEndContent.cshtml";
}

@section rightpart{
    <h3>Are you sure you want to delete this?</h3>
    <fieldset>
        <legend>productcategory</legend>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.CategoryName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.CategoryName)
        </div>
    </fieldset>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" value="Delete" class="btnsave" /> |
            @Html.ActionLink("Back to List", "Index")
        </p>
    }

}
